header{
   background-color: #fff9f4;
   padding-bottom: 100px;
}

.nav-text a{
    color: #000000;
}
.banner-text h2{
    font-size: 50px;
    font-weight: 600;
}
.first{
    color: #fa804c;
}
.second{
    color: #363958;
}
.right-text{
    padding-left: 170px;
}
.banner-text p{
    font-size: 14px;
}
button{
    background-color:#3949d6;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
}


/* ............Header area end.........*/

.formal-shoes-area{
    margin-bottom: 100px;
}
.product-area{
    margin-top: 30px;
}
.product-area h2{
    font-size: 25px;
    font-weight: 600;
    color: #363958;
}
.formal-shoes-area{
    margin-top: 60px;   
}
.product-area p{
    font-size: 12px;
}
.product-area h5{
    color:#363958;
    font-weight: 600;
}
.product-area button{
    float: right;
}
.product-area span{
    font-size: 30px;
    color:#fa804c;
    font-weight: 700;
}
.card-bottom{
    background-color: #ffffff;
    border: none;
}
.card-border{
    border: none;
    box-shadow: 10px 10px 20px #f2f0f0;
}

/*...............End Product Area.........*/

.contact-area{
    height: 500px;
    margin-bottom: 200px;
}

.contact-info-width{
    width: 500px;
    float: left;
}
.contact-info{
    width: 460px;
    height: 130px;
    box-shadow: 10px 10px 20px #f2f0f0;
    border-radius: 15px;
    margin: 5px 5px 25px 0;
    padding: 10px 10px 10px 0;
}
.contact-image{
    width: 30%;
    margin-left: 20px;
}
.contact-image img{
    width: 70px;
    float: left;
    padding-top: 20px ;
}
.image-text{
    width: 80%;
    padding-left:120px;
    padding-top: 15px;
}
.image-text h4{
   color:#363958 ;
   font-weight: 700;
}
.image-text p{
    font-size: 14px;
    color: #737373;
}

.contact-image-width{
    width: 600px;
    float: right;
}
.contact-image-width img{
    width: 100%;
    padding: 120px 0 0 80px;   
}

/*...........End Contact Info Area..........*/

