header{
   background-color: #fff9f4;
   padding-bottom: 100px;
}

.nav-text a{
    color: #000000;
}
.banner-text h2{
    font-size: 50px;
    font-weight: 600;
}
.first{
    color: #fa804c;
}
.second{
    color: #363958;
}
.right-text{
    padding-left: 170px;
}
.banner-text p{
    font-size: 14px;
}
button{
    background-color:#3949d6;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
}


/* ............Header area end.........*/


.product-area{
    margin-top: 30px;
}
.product-area h2{
    font-size: 25px;
    font-weight: 600;
    color: #363958;
}
.formal-shoes-area{
    margin-top: 60px;   
}
.product-area p{
    font-size: 12px;
}
.product-area h5{
    color:#363958;
    font-weight: 600;
}
.product-area button{
    float: right;
}
.product-area span{
    font-size: 30px;
    color:#fa804c;
    font-weight: 700;
}
.card-bottom{
    background-color: #ffffff;
    border: none;
}
.card-border{
    border: none;
    box-shadow: 10px 10px 20px #f2f0f0;
}